

header img{
	
	width: 100%;
	object-fit: cover;
	object-position: top;


	animation-name: efectoUno;
	animation-timing-function: ease-in-out;
	animation-duration: 4s;


}




.indexMain{
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}






