


.nosotrosClass{
	width: 90%;
	color: whitesmoke;
	
	margin: auto;
	
	background-color: black	;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2{
        color: whitesmoke;
        padding: 10px;
        }
    img{
        color: whitesmoke;
        padding: 10px;
    }

        
    p{
        color: whitesmoke;
        padding-bottom: 20px;
        font-style: italic;
        line-height: 2.7rem;
        font-size: 2rem;
        margin-top: 10px;
    }

}




.displayIB{
	display: inline;
	width: 80%;
}







