
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cinzel+Decorative:wght@700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');



*{
    margin: 0px;
    padding: 0px;
}


html{
    font-size: 62.5%;
}



body{
    background-image: url(./img/mapback.webp);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

main {
align-content: center;
text-align: center;
align-items: center;
align-self: center;
}


h1{
    color: black;
    font-size: 4rem;
    font-family: "Bungee Shade";
    text-align: center;
    margin: 20px;
    
}

h2,h3,h4{
	color: black;
    font-size: 3rem;
    font-family: "Libre Baskerville";
    text-align: center;
    line-height: 5rem;
    padding-top: 15px;
    padding-bottom: 10px;
}



.navStyle{
	background-color: rgba(255, 255, 255, 0.7);	
    position: sticky;
    padding: 0px 0px;
    width: 100%;


    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: center;
}

.navStyle img{
	width: 200px;
	justify-self: start;

}

.navStyle ul{
        list-style: none;

        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: stretch;
		justify-content: space-evenly;

       margin-left: 50px;
    }

.navStyle ul li{
	list-style: none;
	margin-right: 50px;
	padding-bottom: 10px;
	align-content: center;
	text-align: center;

	}

.navStyle ul li a{
            color: black;
            text-decoration: none;
            font-family: "Libre Baskerville";
            font-size: 2rem;
            line-height: 4rem;
            text-align: justify;
            white-space: pre-line;
            justify-self: center;
        }


.navStyle ul li a:hover{
    color: black;
    text-decoration: underline;
}




.paginaBold{
	font-weight: 700;
	font-size: 2.4rem;
}

header img{
	
	width: 100%;
	object-fit: cover;
	object-position: top;
}


.indexMain{
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

.carrouselCentre{
	/*width: 300px;*/

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	color: whitesmoke;
	position: relative;
	text-align: center;
	background-color: black	;	
    /*padding: 20px 20px 30px 20px;
    margin: 25px;*/
    border-radius: 10px;

    font-family: "Libre Baskerville";
    font-size: 1.7rem;
    line-height: 2.1rem;
    font-weight: 100;
    /*padding: 10px;*/
    margin-bottom: 20px;
    margin: 10px;

    align-content: center;
    align-items: center;
}

.carrouselCentre img{
	width: 90%;
	align-self: center;
}


.carrouselCentre p{
	padding: 15px;
}





button{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	margin: 20px;
	text-align: center;
	align-content: center;
	position: relative;
	border-radius: 20px;
	font-size: 1.7rem;
	font-family: "Libre Baskerville";
	z-index: 3000;
	font-weight: 800;
	cursor: pointer;
}

button:hover{
    font-size: 2rem;
    text-decoration: underline;
    font-weight: 800;
    z-index: 3000;
}




footer {
	display: flex;
	align-content: center;
	justify-content: center;
}
footer img{
	background-color: transparent;
	height: 50px;
	margin: 30px;
	margin-top: 50px;
}



.imagenCentrada{

	width: 60%;
	display: inline-block;
	position: relative;
	align-content: center;
	text-align: center;
	background-color: black	;	
    padding: 20px 20px 30px 20px;
    margin: 25px;
    border-radius: 10px;

}




.tablaActividades{
	font-size: 2rem;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 20px;
	margin: 40px ;
	text-align: center;
	border-style: hidden;
	outline-width: medium;
	display: inline-block;
}



table tr th {
	text-shadow: black;
	font-style: italic;
	font-size: 2.3rem;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.5);
}

table tr td {
	padding: 10px 15px;
}

.primerCelda{
	font-weight: 600;
}

.grayBack{
	background: rgba(200, 200, 200, 0.4);
}



main section.historiaSection{
	width: 80%;

	display: flex;
	justify-content: space-evenly;
	allign-items: center;

	color: whitesmoke;
	position: relative;
	text-align: center;
	background-color: black	;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;


    font-family: "Libre Baskerville";
    font-size: 1.7rem;
    line-height: 2.2rem;
    font-weight: 100;
}



main section.historiaSection img{
	position: relative;
	display: inline-block;
	width: 40%;
	margin: 20px;
}

main section.historiaSection iframe{
	position: relative;
	display: inline-block;
	width: 40%;
	margin: 20px;
}

main section.historiaSection div{
	position: top 20px;
	display: inline-block;
	width: 40%;
	margin: 20px;
	align-self: center;
	align-content: center;
	align-items: center;
}



main section.historiaSection div h2{
	position: relative;
	text-align: center;
	display: inline;
	width: 50%;
	margin: 20px;
	color: whitesmoke;
}



h5{
	font-size: 2.5rem;
}



.nosotrosClass{
	width: 90%;
	color: whitesmoke;
	
	margin: auto;
	
	background-color: black	;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.nosotrosClass h2, .nosotrosClass img{
	color: whitesmoke;
	padding: 10px;
	
}

.nosotrosClass p{
	color: whitesmoke;
	padding-bottom: 20px;
	font-style: italic;
	line-height: 2.7rem;
	font-size: 2rem;
	/*display: inline-block;*/
	/*margin-left: 30px;
	margin-right: 30px;*/
	margin-top: 10px;
}


/*.nosotrosClass img {
	position: relative;
	display: inline-block;
	width: 80%;
}*/

/*.nosotrosClass section img {
	width: 30%;
	display: inline;
}*/

.displayIB{
	display: inline;
	width: 80%;
}






.formStyle{
	width: 70%;
	
	color: black;
	position: relative;
	display: inline-block;
	
    border-radius: 10px;

    margin: 50px auto;

    font-family: "Libre Baskerville";

    text-shadow: black;
	font-style: italic;
	font-size: 2rem;
	line-height: 3.5rem;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.5);
}

.formStyle div{
	width: 50%;
	display: inline-block;
}

.formStyle input{
	height: 25px;
	text-align: left;
	margin-left: 15px;
}
.formStyle select{
	text-align: left;
	height: 30px;
	padding: 15px;
}

.formStyle textarea{
	min-height: 200px;
	min-width: 200px;
	max-width: 500px;
}





/*DEFINO GRIDS PARA MOBILE INDEX*/

.grid-index{
	/*width: 100vw;
	height: 100vh;*/
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"nav" 
	"hero" 
	"carro" 
	"cta" 
	"footer";
}

#nav{
	grid-area: nav;
}

#hero{
	grid-area: hero;
}

#carro{
	grid-area: carro;
}

#cta{
	grid-area: cta;
}

#footer{
	grid-area: footer;
}



/*OCULTO LA NAV PARA RESOLUCIONES CHICAS*/

@media (max-width: 768px){

	.navStyle ul{
		display: none;
	}
}

/*CORRIJO TAMAÑO DE CARROUSEL PARA RESOLUCIONES GRANDES*/

@media (min-width: 768px){

	.carrouselCentre{
		width: 30%;
	}
}





/*GRID QUIENES SOMOS*/

/*TENGO QUE DES-HACER TODO EL FORMATEO PARA EMPEZAR CON MOBILE FIRST ??*/

/*SOLO ME INTERESA GRID PARA ORDENAR LOS PARRAFOS EN RESOLUCION WEB*/

/*en este caso, el GRID estaria ADENTRO del MAIN unicamente...*/


.grid-quienes{
	/*width: 100vw;
	height: 100vh;*/
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"foto" 
	"parrafo" 
	"retrato" 
	"comentario1"
	"comentario2";
}



#foto{
	grid-area: foto;
}

#parrafo{
	grid-area: parrafo;
}

#retrato{
	grid-area: retrato;
}

#comentario1{
	grid-area: comentario1;
}

#comentario2{
	grid-area: comentario2;
}



/*APLICO GRILLA PARA RESOLUCIONES GRANDES*/


@media (min-width: 768px){

	.grid-quienes{

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"foto foto" 
	"parrafo parrafo" 
	"retrato comentario1"
	"retrato comentario2";
	}

}






